<% site = Site.new %>
<%= form_for site, :html => { class: "form-horizontal", :role => "form" }, :remote => true do |f| %>
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <%= f.text_field :name, class: "form-control",
                            :"data-placement"      => "top",
                            :"data-toggle"         => "tooltip",
                            :"data-original-title" => "Name of your site" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">URL</label>
    <div class="col-sm-4">
      <%= f.text_field :url, class: "form-control",
                            :"data-placement"      => "top",
                            :"data-toggle"         => "tooltip",
                            :"data-original-title" => "URL to your site" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-4">
      <%= f.text_area :description, class: "form-control", placeholder: "Some description about this site" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-4">
      <%= f.submit "Create", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
$('.form-control').tooltip();
});
</script>